@import url("https://cdnjs.cloudflare.com/ajax/libs/nerd-fonts/2.1.0/JetBrainsMono/JetBrainsMono.css");

:root {
  --primary-color: #fffffff;
  --secundary-color: #ffffff;
  --background-color: #353535;

  --test-color: white;
}

* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: var(--background-color);
  font-family: "JetBrains Mono", monospace;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.session {
  width: 100%;
  height: 100%;
}

.session_home,
.session_projects,
.session_about,
.session_contact {
  background-color: var(--test-color);

  padding-left: 10vw;
  padding-right: 10vw;

  height: 100vh;
}

.session_home .hello {
  padding-top: 30vh;
}

.session_home .godown {
  padding-top: 30vh;
  text-align: center;
}

.session_projects {
  height: 120vh;
  /*width: 100vw;*/
}

.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 80vh;
  width: auto;
}

.images,
.imgs {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.imgs img {
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* Ajusta a imagem sem distorção */
}

.images .inputs {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.inputs input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 5px;
  margin-left: 5px;
}

.inputs input[type="radio"]:checked {
  border-color: black;
  background-color: black;
  transition: .5s;
}

/**/
/*.inputs input[type="radio"]:checked::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background-color: black;*/
/*  border-radius: 50%;*/
/*  top: 0;*/
/*  left: 0;*/
/*  transition: background-color 0.3s;*/
/*}*/


@media (max-width: 768px) {
  .session_projects {
    width: 100vw;
  }

  .imgs img {
    width: 100vw;
    height: 100vh;
  }
}

.session_about {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.session_about .bio {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.session_about img {
  height: 80vh;
  width: 100%;
}

@media (max-width: 768px) {
  .session_about {
    flex-direction: column;
    align-items: center;
  }

  .session_about img {
    order: 2;
    width: 100%;
    height: auto;
  }

  .session_about .bio {
    order: 1;
  }
}

.session_contact {
  text-align: center;
}

.session_contact p {
  padding-left: 20vw;
  padding-right: 20vw;
}

@media (max-width: 768px) {
  .session_contact p {
    padding-left: 0;
    padding-right: 0;
  }
}
