[data-animation]{
    opacity: 5%;
    transition: 1.25s;
}

[data-animation="left"]{
    transform: translate3d(-50px,0,0);
}

[data-animation="right"]{
    transform: translate3d(75px,0,0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px,0,0);
}