html, body{
    display: flex;
    flex-direction: column;
    margin: 0;

    background-image: url(/assets/images/backgorund.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position-y: 10vh;
}

/* panels */
.conteiner{
    position: inherit;
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.itemPanel{
    min-width: 200px;
    max-width: 500px;

    flex: 1;
    margin: 10px;
    background-color: brown;
}

/* web midias */
.webMidias{
    margin-top: 20px;
    margin-bottom: 20px;

    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/* footer */
footer{
    color:#fff;
    margin:0.5rem;
    padding:1rem;
    text-align:center
}

footer a{
    color:#001aff;
}

footer a:hover,.footer a:focus{
    background:#2b2d2f;
    color:#fff
}